@import url("https://fonts.google.com/specimen/Red+Hat+Display");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  background-color: white;
  height: 400px;
  width: 560px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 20%;
  display: -ms-grid;
  display: grid;
  box-shadow: 0px 1px 10px #818181;
  -webkit-box-shadow: 0px 5px 10px #818181;
}

.main .section-one {
  background-color: #4e21ca;
  position: absolute;
  height: 400px;
  width: 280px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 12.4%;
  left: 17.9%;
  margin-top: -50px;
  margin-left: -100px;
}

.main .your {
  margin-top: 10%;
  color: white;
  margin-bottom: 10%;
  font-family: 'Red Hat Display', sans-serif;
}

.main .of {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 9, 163, 0.788)), to(rgba(36, 33, 202, 0)));
  background-image: linear-gradient(rgba(50, 9, 163, 0.788), rgba(36, 33, 202, 0));
  margin-left: 75px;
  margin-right: 75px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  display: -ms-grid;
  display: grid;
  font-family: Hanken Grotesk;
}

.main .of span {
  font-size: 10px;
  font-weight: 200;
}

.main .great {
  padding-top: 30px;
  font-weight: bolder;
  color: white;
  font-size: 20px;
}

.main .you {
  color: white;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: small;
}

.main .section-two {
  position: absolute;
  background-color: white;
  height: 400px;
  width: 280px;
  border-radius: 10px;
  top: 12.5%;
  left: 68%;
  margin-top: -50px;
  margin-left: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .section-two .summary {
  margin-left: 10%;
  margin-top: 10%;
  font-weight: bolder;
  margin-bottom: 10%;
  position: absolute;
  font-size: 17px;
  color: #303b5a;
}

.main .section-two .boxes {
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
}

.main .section-two .boxes .box1 {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 7%;
  background-color: rgba(255, 87, 87, 0.062);
  border-radius: 5px;
  padding: 11px;
  color: #ff5757;
  font-weight: bold;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .section-two .boxes .box1 .reaction {
  margin-left: 0%;
  color: red;
}

.main .section-two .boxes .box1 span {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: #c8c7ff;
}

.main .section-two .boxes .box1 span .a {
  color: black;
}

.main .section-two .boxes .box1 img {
  height: 15px;
}

.main .section-two .boxes .box2 {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 7%;
  background-color: rgba(255, 176, 31, 0.062);
  border-radius: 5px;
  padding: 11px;
  color: #ffb01f;
  font-weight: bold;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .section-two .boxes .box2 .reaction {
  margin-left: 2%;
  color: #ffb01f;
}

.main .section-two .boxes .box2 span {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: #c8c7ff;
}

.main .section-two .boxes .box2 span .a {
  color: black;
}

.main .section-two .boxes .box2 img {
  height: 15px;
}

.main .section-two .boxes .box3 {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 7%;
  background-color: rgba(0, 189, 145, 0.062);
  border-radius: 5px;
  padding: 11px;
  color: white;
  font-weight: bold;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .section-two .boxes .box3 .reaction {
  margin-left: 5%;
  color: #00bd91;
}

.main .section-two .boxes .box3 span {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: #c8c7ff;
}

.main .section-two .boxes .box3 span .a {
  color: black;
}

.main .section-two .boxes .box3 img {
  height: 15px;
}

.main .section-two .boxes .box4 {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 7%;
  background-color: rgba(17, 37, 212, 0.062);
  border-radius: 5px;
  padding: 11px;
  color: white;
  font-weight: bold;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .section-two .boxes .box4 .reaction {
  margin-left: 5%;
  color: #1125d4;
}

.main .section-two .boxes .box4 span {
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: #c8c7ff;
}

.main .section-two .boxes .box4 span .a {
  color: black;
}

.main .section-two .boxes .box4 img {
  height: 15px;
}

.main .section-two .continue {
  position: absolute;
  top: 120%;
  left: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 7%;
  background-color: #303b5a;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 80%;
  text-align: center;
  padding-left: 40%;
  padding-right: 35%;
}

.main .section-two .continue a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 425px) {
  body {
    overflow-x: hidden;
  }
  body .main {
    position: absolute;
    background-color: white;
    height: 1000px;
    width: 318px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    display: -ms-grid;
    display: grid;
    box-shadow: 0px 0px 0px white;
    -webkit-box-shadow: 0px 0px 0px white;
  }
  body .main .section-one {
    background-color: #4e21ca;
    position: absolute;
    height: 400px;
    width: 280px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 37%;
    margin-top: -50px;
    margin-left: -100px;
  }
  body .main .section-two {
    display: none;
    position: absolute;
    background-color: white;
    height: 400px;
    width: 280px;
    border-radius: 10px;
    top: 45%;
    left: 37%;
    margin-top: -50px;
    margin-left: -100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=index.css.map */